@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    font-family: 'Inter';
}

body{
    background-color: #141414;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.main{
    background-color: #1F1F1F;
    height: 609px ;
    width: 387px;
    box-shadow: rgba(100, 100, 111,#fff) 0px 7px 29px 0px;
    border-radius: 12px;
}

.profile{
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    align-items: center;
    margin-top: 40px;
}

.profile-pic{
    border-radius: 50%;
    height: 89px;
    width: 89px;
}

.profile-name{
    font-size: 28px;
    font-weight: 700;
    margin-top: 31px;

}

.profile-city{
    font-weight: 600;
    color: #fbf583;
    margin-top: 6px;
    font-size: 16px;
}

.profile-designation{
    font-weight: 400;
    margin-top: 29px;
    font-size: 14px;
}


/* .links{
    display: flex;
    flex-direction: column;
    gap: 16px;
} */

.link{
    display: block;
    margin: auto;
    margin-top: 16px;
    width: 304px;
    height: 45px;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.attribution{
    margin-top: 30px;
}

.attribution a{
    color:#fbf583;
}